<div style="text-align: center;">
<h2>Enter your Details</h2>
<label for="Name">Name:</label>
<input id="Name" [(ngModel)]="name"/>
<br><br>
<label for="email">Email:</label>
<input type="email" id="email" [(ngModel)]="email"/>
<br><br>
<label for="pass">Password:</label>
<input type="password" id="pass" [(ngModel)]="password"/>
<br><br>
<label for="city">City:</label>
<input id="city" [(ngModel)]="city"/>
<br><br>
<label for="co">Country:</label>
<input id="co" [(ngModel)]="country"/>
<br><br>
<h3>Given Name</h3>
{{name}}
<br>
<h3>Given Email</h3>
{{email}}
<br>
<h3>Given Password</h3>
{{password}}
<br>
<h3>Given City</h3>
{{city}}
<br>
<h3>Given Country</h3>
{{country}}
<br>
</div>